@use "sass:math";

// Using variables
$blue_color: #240aa7;
$grey_color: rgba(85, 85, 85, 0.933);
$black_color: #000;
$font_size: 12px;

$first-width: 5px;
$second-width: 5px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//mixins
@mixin font-color ($color: $grey_color ){
    color: $color;
    letter-spacing: 1px;
}

body{
    color: $grey_color;
}
div{
    letter-spacing: 1px; 
    margin-bottom: 20px;
}
nav{
    width: 70%;
    margin: 10px auto;
    ul{
       list-style: none;
     margin: 10px 15px; 
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
    
    }
    li{
        padding: 10px;
        text-transform: uppercase;
    }
    a{
        color: $black_color;
        text-decoration: none;
        letter-spacing: 1px;
    }
   
}


.articles{
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    img{
        width: 280px;
        height: 280px;
    }
    div{
        h6{
            text-transform: capitalize;
            font-weight: bold;
            font-family: 30px;
            padding: 50px auto;
        }
        h6:hover{
            background-color: $grey_color;
            color: #fff;
        }
    }
    

}
// function derivatives
@function adjust_width($n) {
    @return $n * $first-width + ($n - 1) * $second-width;
 } 
 #set_width { padding-left: adjust_width(10); }

//operation derivatives

 .container{
     width: math.div(600px, 960px) * 100%;
     margin: 10px auto;
     text-align: start !important;
 }